body {
  font-family: "Poppins", sans-serif;
  color: #2cbc63;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
} /* You can add global styles to this file, and also import other style files */
